@page
@model VralumGlassWeb.Pages.CustomerModel
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12" style="padding-top:10px; text-align: right;">
            <button class="btn btn-outline-success" asp-page-handler="Export">Export Excel</button>
        </div>
    </div>
</form>

<form method="post">
    <div class="row">
        <div class="col-md-12">
            <table class="table" style="margin-top: 5px;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">ID</th>
                    <th scope="col">Age</th>
                    <th scope="col">Email</th>
                    <th scope="col">Address</th>
                    <th scope="col">City</th>
                    <th scope="col">Persons</th>
                    <th scope="col">Key Received</th>
                    @*<th scope="col">Project Entr.</th>
                    <th scope="col">Constructor</th>*@
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var contact in Model.Customers)
                {
                    <tr>
                        <th scope="row">@contact.Id</th>
                        <td>@contact.Name @contact.Surname</td>
                        <td>@contact.Identity</td>
                        <td>@contact.Age</td>
                        <td>@contact.Email</td>
                        <td>@contact.Address</td>
                        <td>@contact.City</td>
                        <td>@contact.PersonsAtHome</td>
                        <td>@contact.KeyReceived.ToString("dd/MM/yyyy")</td>
                        @*<td>@contact.ProjectName</td>
                        <td>@contact.Constructor</td>*@
                        <td>
                            <button class="btn btn-outline-danger btn-sm" type="submit" asp-page-handler="delete" asp-route-id="@contact.Id">delete</button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    

</form>

